@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


:root {
    --primary: #ffc1ab;
    --btn:#cd7a5c;
    --hover: #b4502b;
    --lightgray: #f5f5f5;
    --text: #2e2e2e;
    --white: #fff;
    --black: #000;
    --fontFamily: 'Roboto', sans-serif;
    --transition: 0.3s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* basics */
body {
    font-family: var(--fontFamily);
    color: var(--text);
    font-size: 16px;
    font-weight: 300;
}
.container{
    width: 80%;
    margin: 0 auto;
}
button {
    background-color: var(--btn);
    color: var(--white);
    border: none;
    padding: 5px;
    border-radius: 5px;
    transition: var(--transition);
}
button:hover {
    background-color: var(--hover);
}

/* header style */
header{
    background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgb(255, 193, 171, 0.8)), url(img/cky.JPG);
    height: 85vh;
    background-position: center;
    background-size: cover;
}
